<h1>{{question?.isNew() ? 'Add' : 'Edit'}} Question</h1>

<div class="bg-warning p-3" *ngIf="message">{{ message }}</div>

<form *ngIf="dataLoaded">
  <div class="row">
    <div class="form-group col-5">
      <label for="category">Category</label>
      <select class="form-control" id="category" [(ngModel)]="question.category" name="category">
        <option *ngFor="let category of categories" [ngValue]="category"
        >{{ category.name }}</option>
      </select>
    </div>
    <div class="form-group col-5">
      <label for="selectedLanguage">Selected Language</label>
      <select class="form-control" id="selectedLanguage"
              (change)="selectTranslationByLanguage()"
              [(ngModel)]="question.selectedLanguage" name="selectedLanguage">
        <option *ngFor="let selectedLanguage of languages" [ngValue]="selectedLanguage"
        >{{ languageMap.get(selectedLanguage) }}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-10">
      <label for="displayTranslation">Display Question Translation ({{ question.displayTranslation?.language }})</label>

      <select class="form-control" id="displayTranslation" [(ngModel)]="question.displayTranslation" name="displayTranslation">
        <option *ngFor="let tr of question.translations" [ngValue]="tr"
        >{{ tr.text }}</option>
      </select>

    </div>
  </div>

  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary"
              (click)="onSubmit()"
      >Save Question</button>
      <button type="button" class="btn btn-primary"
              (click)="closeQuestionEdit()"
      >Cancel</button>
    </div>
  </div>

</form>

<div *ngIf="action !== 'add'">
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary"
              (click)="navigateToTranslations()"
      >List Translations</button>
    </div>
  </div>
</div>
<!--
<div *ngIf="action === 'add'">
  <div class="row">
    <div class="col-10">
      <app-translation-edit [translation]="firstTranslation" [isFirst]="true" ]>
      </app-translation-edit>
    </div>
  </div>
</div>
-->
