<div>
  <h2>Question detail</h2>
  <a class="btn btn-small btn-primary"
     (click)="displayEditQuestion(question.id)"
  >Edit</a>
  <a class="btn btn-small btn-danger">Del</a>
  <table>
    <tr>
      <th>ID</th>
      <td>{{ question?.id }}</td>
    </tr>
    <tr>
      <th>Sel.Language</th>
      <td>{{ question?.selectedLanguage }}</td>
    </tr>
    <tr>
      <th>Category</th>
      <td>{{ question?.category?.name }}</td>
    </tr>
  </table>
  <app-translations [fromEdit]="false"></app-translations>
  <a class="btn btn-small btn-primary"
     (click)="displayAnswers()" *ngIf="!showAnswers"
  >Show Answers</a>
  <a class="btn btn-small btn-primary"
     (click)="hideAnswers()" *ngIf="showAnswers"
  >Hide Answers</a>
  <app-answers *ngIf="showAnswers"
               [questionId]="question.id"
  ></app-answers>
</div>
<a class="btn btn-small btn-primary"
   (click)="backToQuestions()"
>Back to Questions</a>
