<div class="categoryDetails">
    <h2>Category details</h2>
    <a class="btn btn-small btn-primary"
        (click)="editCategory()"
    >Edit</a>
    <a class="btn btn-small btn-danger"
        (click)="deleteCategory()"
    >Delete</a>
    <div class="bg-warning p-5" *ngIf="message">{{ message }}</div>
    <table>
      <tr>
        <td>ID</td>
        <td>{{ category?.id }}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{ category?.name }}</td>
      </tr>
      <tr>
        <td>Description</td>
        <td>{{ category?.description }}</td>
      </tr>
      <tr>
        <td>Created by</td>
        <td>{{ category?.createdBy }}</td>
      </tr>
    </table>
  </div>
