<h1>Users</h1>

<a class="btn btn-primary mb-3"
   (click)="addUser()"
>Add</a>

<div class="row">
  <div class="col-6">
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>
          <button type="button" class="btn btn-primary"
                  (click)="setSelectedUser(user.id)"
          >View</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="loadingData">{{ message }}</div>
  <div class="col-6">
    <app-app-user-detail *ngIf="action === 'view' && selectedUser" [user]="selectedUser"
      (userDeletedEvent)="loadUsers()"></app-app-user-detail>
    <app-app-user-edit *ngIf="(action === 'edit' || action === 'add') && selectedUser" [user]="selectedUser"
      (userChangeEvent)="loadUsers()"></app-app-user-edit>
  </div>
</div>
