<div>
  <h2>Source Details</h2>
  <a class="btn btn-small btn-primary"
     (click)="editSource()"
  >Edit</a>
  <a class="btn btn-small btn-danger"
  >Delete</a>
  <table>
    <tr>
      <td>ID</td>
      <td>{{ source?.id }}</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{ source?.name }}</td>
    </tr>
    <tr>
      <td>Full Title</td>
      <td>{{ source?.fullTitle }}</td>
    </tr>
    <tr>
      <td>URL</td>
      <td>{{ source?.url }}</td>
    </tr>
    <tr>
      <td>Source Type</td>
      <td>{{ source?.sourceType }}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{ source?.description }}</td>
    </tr>
  </table>
</div>
