<nav class="navbar navbar-expand-md breadcrumb">
  <div class="collapse navbar-collapse">
    <!-- Navbar brand -->
    <!--<a class="navbar-brand" (click)="navigateToHome()" >Knowthenix</a>-->

    <div class="nav nav-pills">
      <a class="nav-item nav-link active ml-1" data-toggle="tab"
         (click)="navigateToQuestionsCategories()">
        <i class="fa fa-cubes"></i>
        Categories
      </a>
      <a class="nav-item nav-link ml-3" data-toggle="tab"
         (click)="navigateToViewAllQuestions()">
        <i class="fa fa-question"></i>
        Questions
      </a>
      <a class="nav-item nav-link ml-3" data-toggle="tab"
         (click)="navigateToKeyTerms()">
        <i class="fa fa-key"></i>
        KeyTerms
      </a>
      <a class="nav-item nav-link ml-3" data-toggle="tab"
         (click)="navigateToSources()">
        <i class="fa fa-book"></i>
        Sources
      </a>
      <a class="nav-item nav-link ml-3" data-toggle="tab"
         (click)="navigateToUsers()">
        <i class="fa fa-users"></i>
        Users
      </a>
      <a class="nav-item nav-link move-right mr-3" data-toggle="tab"
         *ngIf="isLoggedIn"
         (click)="logout()">
        Logout
        <i class="fa fa-sign-out"></i>
      </a>
    </div>
  </div>
</nav>
