<h1>{{ keyTerm.id == null ? 'Add' : 'Edit'}} KeyTerm</h1>

<form [formGroup]="keyTermForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="keyterm name"
            formControlName="keyTermName" required>
    <div class="alert alert-danger">Error message placeholder</div>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" placeholder="keyterm description"
            formControlName="keyTermDescription">
  </div>

  <button type="button" class="btn btn-primary" (click)="onSubmit()"
  >Save</button>
</form>
