<div class="keyTermDetails">
    <h2>KeyTerm details</h2>
    <a class="btn btn-small btn-primary"
        (click)="editKeyTerm()"
    >Edit</a>
    <a class="btn btn-small btn-warning"
        (click)="deleteKeyTerm()"
    >Delete</a>
    <div class="bg-warning p-5" *ngIf="message">{{ message }}</div>
    <table>
      <tr>
        <td>ID</td>
        <td>{{ keyTerm?.id }}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{ keyTerm?.name }}</td>
      </tr>
      <tr>
        <td>Description</td>
        <td>{{ keyTerm?.description }}</td>
      </tr>
    </table>
  </div>
  