<h1>Categories</h1>

<a class="btn btn-primary mb-3" (click)="addCategory()">Add</a>

<div class="row">
  <div class="col-6">
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let category of categories">
        <td>{{ category.id }}</td>
        <td>{{ category.name }}</td>
        <td>
          <button type="button" class="btn btn-primary"
                  (click)="setSelectedCategory(category.id)"
          >View</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="loadingData">{{ message }}</div>
  <div class="col-6">
    <app-category-detail *ngIf="action === 'view'" [category]="selectedCategory" ></app-category-detail>
    <app-category-edit *ngIf="action === 'edit' || action === 'add'" [category]="selectedCategory"
                      (dataChangedEvent)="loadData()"></app-category-edit>
  </div>
</div>
